<h1 class="text-center my-4"  >update the article</h1>

<%= render 'form' %>

<div class="text-center ">
  <%= link_to "Cancel and return to articles listing", articles_path, class: "text-decoration-none"%>
</div>