<h1 class="text-center mt-4">Listing all Articles</h1>
<div class="container alpha-container">
    <div class="flickr_pagination">
        <%= will_paginate @articles, :container => false %>
    </div>
    <%= render 'article' %>
    <div class="flickr_pagination">
        <%= will_paginate @articles, :container => false %>
    </div>
</div>