<h1 class="text-center my-4"  >update the category</h1>

<%= render 'form' %> 

<div class="text-center" >
  <%= link_to "Cancel and return to category", category_path, class: "text-decoration-none" %>
</div>